syntax: glob
*.py[co]
*.orig
*.rej
*.egg-info
*.eggs
/dist
/build
*.db
*.log
*.log.*
*.mo
*.local.*
.DS_Store
.project
.pydevproject
.settings
.idea
.vscode
.~*
~*
htmlcov
.coverage
/public
.ruff_cache
/.user-env
/doc/_build

